.register{
    font-size: .9em;
    color: #black;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #black;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
